body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.inputs {
    margin-bottom: 15px;
}

.card {
    box-shadow:  0px 2px 2px 0 rgb(0 0 0 / 30%);
    border: 1px transparent rgb(200, 200, 200);
    border-radius: 10px;
    padding: 8px;
    margin-bottom: 32px;
}

